<footer class="footer mt-auto py-2 bg-dark">
        <div class="container">
            <span class="text-muted">
                Copyright &copy; 2023 Project 1999 Power Leveling Service<br>
                <a href="mailto:firtlast@servicesite.com">firtlast@servicesite.com</a><br>
                This site is a project and in no way a real service
            </span>
        </div>
</footer>
