
.display-none { display: none; }
.error { color: red;}

form {
    margin: 1em;
    padding: 1em;
}
input[text], select {
    width: 15em;
}
label {
    width: 5em;
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
    text-align: right;
}
br {
    clear: left;
}

