<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project 1999 Power Leveling Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="P99 PL Service is the best leveling service in the game!">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    {{ include('/shared/nav.twig') }}

    <main class="flex-shrink-0  mt-5 ml-auto mr-auto">
        
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <h4 id="scrollspyHeading1">The Greatest</h4>
            <p>I once single pulled the Mushroom King. I don't like to brag. I don't like to boast. I just want to tell you the facts. As I see them. You can choose whether to believe them or not. The truth cares not. And neither do I. The guild was there. The guild leader tapped me. I had done things like this before. Just not the King. And if you come at the king, you best not miss. I hit it with that bang bang. Him and his goons started running. I ran too, but not why they thought. I ran because I was smart. Some say borderline genius. Not me. I don't say that, but others. Others do. They came around the corner and got a dose of the flim flam. They thought I was dead. Thought. I. was dead. Fools. The guards ran. The king hesitated. I did not miss.</p>
            <h4 id="scrollspyHeading2">Ever</h4>
            <p>As a druid, I live in the elements. I am the elements. Ice. Fire. The dragons are intelligent. It doesn't matter. The get busted up all the same. I go into Lady Vox's lair. Some of my friends are their too. They got the distraction. They got the heals. I got the fire. I got the ice. Since Vox was born from the ice, I put that in my back pocket. Reach for the fire. It burns. It burns good. Not for the dragon. For me. For my squad. Vox never saw it coming. She's died countless times, but still, it's new to her everytime. Get them loots. Get out. I hear Naggy is next. Pocket the fire and pull out the ice. He's about to get crossed. Out.</p>
            <h4 id="scrollspyHeading3">Young One</h4>
            <p>As a druid, you would think I was born in nature. Born in the caress of the forest. In the bed of the plains. I was born in the streets. The streets of Qeynos. Broke. Broken. Like a branch. A branch from a tree. The tree of life. Gave my life to that tree. Studied in its ways. Became a druid.</p>
            <h4 id="scrollspyHeading4">The Mountain Top</h4>
            <p>60. Its where I am. Its where you want to be. I can get you there. Kupa can get you there. We both can get you their. Do you have what it takes? The grind. Or the coin. Either way can get you to the mountain top. Enough coin and we will get you there from the beginning to the end. From one to sixty. So you can write your next chapter. We just write the prologue. You write the book. We might add a glossary. Becausee are the definition of getting it done.</p>
            <h4 id="scrollspyHeading5">The Goal</h4>
            <p>Once your at the mountain top you need a goal. An aspiration. An indentity. A reason. You supply that. We just get you their. What you do is up to you. Just don't two box. You get banned for that. Don't ask. We didn't. You won't have to if you hire us. We are the box. And the tape. The mix tape that always bangs. Even if bangs are in right now. Right now is when we can get you to the mountain top. Where the gods can't breath. Where the dragons need oxygen. Where I'm king. But you can't single pull me. You're going to need more coin than that.</p>
          </div>
    </main>

    {{ include('/shared/footer.twig') }}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>